ul {
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
